*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:MaisonWEB,Arial,Verdana,sans-serif;
}

body{
    height:100vh;
    background: #f5f5f5;
    padding: 24px;  
}

.content{
    justify-content: center;
    align-items: center;
    width:640px;
    margin: auto; 
}

h1{
    margin-bottom: 24px;
}

.scoreDisplay{
    text-align: right;
    margin-right: 5px;
}

.memory-game{    
    height: 640px; 
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card{
    width:calc(25% - 10px) ;
    height: calc(25% - 10px);
    margin: 5px;
    position:relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
;}

.memory-card:active{
    transform: scale(.97);
    transition: transfrom .2s;
}

.memory-card.flip{
    transform: rotateY(180deg);

}

.front-face,
.back-face{
    width:100%;
    height:100%;   
    position: absolute;
    border-radius: 5px;
    background: #ffffff;
    border: 2px solid deeppink;
    backface-visibility: hidden;
    
}

.front-face{
    padding:10px;
    transform: rotateY(180deg);
}



@media screen and (max-width: 750px) and (max-height: 500px) {
    .content {
        width: 400px;
    }

    .memory-game {
      height: 400px;
    }
  
    .memory-card {
        width:calc(25% - 4x) ;
        height: calc(25% - 4px);
        margin: 4px;
    }

    .front-face{
        padding:4px;
    }

    .scoreDisplay{
        padding: 4px;
    }
  
    
  }

